{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block main %}]
<div class="main-wrapper">
    <div class="register-container">
        <form method="post" action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirmation.label(class="form-label") }}
                {{ form.confirmation(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
            <div>
            <p>Já tem uma conta? <a href="{{ url_for('login')}}">Volte para o Login!</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
